*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}





:root{
    --power-purple:rgb(40, 53, 114);
    --green: rgba(14, 88, 7, 0.658);
    --violet: rgb(221, 113, 113);
}


body{
    background: var(--power-purple);
}

main{
    display: flex;
    /* padding: 10px 0px; */
    background: crimson;
}

.content h1{
    padding-left: 60px; 
    font-size: 45px;
    color: var(--violet);
}

main img{
    width: 45px;
    display: flex;
    
    /* padding-top: 200px; */
}